
.nav1 {
	background-color: black;
	position:fixed;
	text-align: center;
	height:10%;
	width:80%;
	left:10%;
	right:10%;
	z-index:100;
}

.menutab{
	color:white;
	float:left;
	text-align:center;
	margin-left: 8%;
}

.pic {
	height:250px;
	width: 250px;
	margin:3%;
	float:left;
}

.picCol1{
	margin-left:20%;
	margin-right:20%;
}
.picCol2{
	margin-left:20%;
	margin-right:20%;
}
.row {
	margin-top:20%;
	float:left;
	width:20%;
	margin-left:10%;
}
.thumbnail{
	margin-left:20%;
}
.title {
	padding-top: 10%;
	text-align: center;
	position:relative;
}