body {
background: url(01_splash.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu h3{
	font-size: 4em !important;
}

.maintext{
	color:white;
}

.subheader{
	color:white;
}

.title{
	color:white;
	font-size: 3em;
}